<!DOCTYPE HTML>
<html>
    <head>
        {% include "donations_dependencies.html" %}
    </head>
    <body>
            {% include "navbar.html" %}
            <div id="content">
                <div id="donation">
                    <div id="donation_title">
                         Northern Karnataka Donations
                    </div>
                    <img src="{{ url_for('static', filename='images/Northern_Karnataka_Flood.jpg') }}" style="width:650px; height:500px"></img>
                    <div id="donation_info">
                        <input id="user_input_amount" placeholder="Amount" type="text" name="Amount">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			    <input type="hidden" name="cmd" value="_donations">
			    <input type="hidden" name="business" value="NJ4U33EEBW7WJ">
			    <input type="hidden" name="lc" value="US">
			    <input type="hidden" id="paypal_amount" name="amount" value="0.00">
			    <input type="hidden" name="item_name" value="Northern Karnataka Donations">
			    <input type="hidden" name="item_number" value="northern_karnataka_donations">
			    <input type="hidden" name="no_note" value="1">
			    <input type="hidden" name="no_shipping" value="1">
			    <input type="hidden" name="rm" value="1">
			    <input type="hidden" name="return" value="https://kkny.org">
			    <input type="hidden" name="cancel_return" value="https://kkny.org">
			    <input type="hidden" name="currency_code" value="USD">
			    <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHosted">
			    <input type="image" src="{{ url_for('static', filename='images/donate_button.png') }}" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		        </form>
                    </div>
                    <div id="why_donate">
			More than 15 districts and as many as 237 villages have been affected due to this flood. The death toll is increasing rapidly and we need your help. For all donations received Kannada Koota will give all of it to the Shakthi Kendra Trust foundation towards helping victims who are affected by the flood. Please help out by donating, every dollar counts!
                    </div>
               </div>
                <div id="push"></div>
            </div>           
            <footer id="footer">
                {% include "footer.html" %}
            </footer>
    </body>
</html>
