<!DOCTYPE HTML>
<html>
<head>
    {% include "members_dependencies.html" %}

</head>
<body>
    <div id="wrapper">
        {% include "navbar.html" %}
        <div id="content">
	    <div id='local_heroes_title'>
	        Kannada Koota Community Heroes
	    </div>
	    <div id='local_heroes_description'>
During the ongoing COVID-19 pandemic, several members of the Kannada Koota community have been in the frontline often at risk to their own health and safety. We thank them from the bottom of our hearts and express our gratitude for their courage and dedication.
            </div>
   	    <div class="container" id="local_hero_images" style="text-align: center">
		<div id='local_heroes_subsection_title'>
		    Kannada Koota Frontline Heroes
		</div>
		<div id='local_heroes_subsection_description'>
		    We would like to thank these frontline heroes for putting their lives at risk to help serve the community during this Corona Virus Epidemic.
		</div>

	        <div class="local_heroes">
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Aditi Jayadeva Square.jpg' ) }}">
			<div class="local_hero_name">
			    Dr. Aditi Jayadeva
			</div>
			<div class="local_hero_description">
			   Pediatrics Emergency Medicine Physician
			</div>
		    </div>
		    <div class="local_hero">

			<img src="{{ url_for('static', filename='images/local_heroes/Anil Patil  Square.jpg' ) }}">
			<div class="local_hero_name">
			    Dr. Anil Patil
			</div>
			<div class="local_hero_description">
			    Pain Management Anesthesiologist
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Anthony D_Souza  Square.jpg' ) }}">
			<div class="local_hero_name">
			    Dr. Antoni D' Souza
			</div>
			<div class="local_hero_description">
			    Neonatologist
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Dakshayini Guttal  Square.jpg' ) }}">
			<div class="local_hero_name">
			    Dr. Dakshayini Guttal
			</div>
			<div class="local_hero_description">
			    Emergency medicine & Pediatrics Specialist
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Ashwin Basavaraj  Square.jpg' ) }}">
			<div class="local_hero_name">
			    Dr. Ashwin Basavaraj
			</div>
			<div class="local_hero_description">
			   Chief of Pulmonology at Bellevue
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Sudha Rao.jpg' ) }}">
			<div class="local_hero_name">
			    Sudha Rao
			</div>
			<div class="local_hero_description">
			   PA (Bone Marrow Transplant)
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Dr. Sunil Chikmaglur Squared.jpg' ) }}">
			<div class="local_hero_name">
			    Dr. Sunil Chikmagalur
			</div>
			<div class="local_hero_description">
			   Pediatric Resident
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Dinesh Giliyar Squared.jpg' ) }}">
			<div class="local_hero_name">
			    Dr. Dinesh Giliyar
			</div>
			<div class="local_hero_description">
			    Pediatrician
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Dr Magery Satish.jpg' ) }}">
			<div class="local_hero_name">
			    Dr. Magery Satish
			</div>
			<div class="local_hero_description">
			    Board Certified Psychiatrist
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Hebbalmath M Thippeswamy  Square.jpg' ) }}">
			<div class="local_hero_name">
			    Dr Hebbalmath M Thippeswamy
			</div>
			<div class="local_hero_description">
			   Nephrologist
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Ravi Chikmaglur  Square.jpg') }}">
			<div class="local_hero_name">
			    Ravi Chikmagalur
			</div>
			<div class="local_hero_description">
			   Facility Manager, <br> Forensic Investigations Division, NYPD
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Radika Chikmaglur  Square.jpg') }}">
			<div class="local_hero_name">
			    Radhika Chikmagalur
			</div>
			<div class="local_hero_description">
			   Supervisor of Operations, FDNY
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Sangeetha Deshpande  Square.jpg') }}">
			<div class="local_hero_name">
			    Sangeetha Deshpande
			</div>
			<div class="local_hero_description">
			    RN  (Adult Oncology chemotherapy infusion)
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Purna Prasad Squared.jpg') }}">
			<div class="local_hero_name">
			    Dr. Purna Prasad
			</div>
			<div class="local_hero_description">
			    CTO & VP of IT at Northwell
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Vishwanath Puttaswamygowda  Square.jpg') }}">
			<div class="local_hero_name">
			    Dr. Vishwanath Puttaswamygowda
			</div>
			<div class="local_hero_description">
			    Internal Medicine Specialist
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Swaroopa Chinnappala  Square.jpg') }}">
			<div class="local_hero_name">
			    Dr. Swaroopa Chinnapala
			</div>
			<div class="local_hero_description">
			    Internal Medicine Specialist
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Nikita Rao square.jpg') }}">
			<div class="local_hero_name">
			    Nikita Rao
			</div>
			<div class="local_hero_description">
			    Physical Therapist
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Pooja Banad Squared2.jpg') }}">
			<div class="local_hero_name">
			    Dr. Pooja Banad
			</div>
			<div class="local_hero_description">
			    Speech Language Pathologist
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Kanchan Katapadi  Square.jpg' ) }}">
			<div class="local_hero_name">
			    Dr. Kanchan Katapadi
			</div>
			<div class="local_hero_description">
			    Internal Medicine Specialist
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Premanath Banad  Square.jpg') }}">
			<div class="local_hero_name">
			    Dr Premanath Banad
			</div>
			<div class="local_hero_description">
			    Internal Medicine and Pulmonologist
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Sheela Banad  Square.jpg') }}">
			<div class="local_hero_name">
			    Dr Sheela Banad
			</div>
			<div class="local_hero_description">
			    Internal Medicine Specialist
			</div>
		    </div>
		    <div class="local_hero">

			<img src="{{ url_for('static', filename='images/local_heroes/U.S.Shivakeerthy  Square.jpg') }}">
			<div class="local_hero_name">
			    Dr. U.S. Shivakeerthy
			</div>
			<div class="local_hero_description">	
			    Section Chief, Neurosurgical anesthesia <br>
			    Assistant Professor <br>
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Narasi Motagan  Square.jpg') }}">
			<div class="local_hero_name">
			    Narasi Motagan
			</div>
			<div class="local_hero_description">
			    Pharamacist
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Jyothi Chakote  Square.jpg' ) }}">
			<div class="local_hero_name">
			    Dr. Jyothi Chakote
			</div>
			<div class="local_hero_description">
			    Internal Medicine Specialist
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Murali Rajan  Square.jpg') }}">
			<div class="local_hero_name">
			    Murali Rajan
			</div>
			<div class="local_hero_description">
			    Customer Support Engineer for <br> Siemens Medical Solutions
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/nakul_rao_squared.jpg') }}">
			<div class="local_hero_name">
			    Nakul Rao
			</div>
			<div class="local_hero_description">
			    Student at Stony Brook University's <br> Physicans Assistant Program
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Dr Vaijinath Chakote squared.jpg') }}">
			<div class="local_hero_name">
			    Dr Vaijinath Chakote
			</div>
			<div class="local_hero_description">
			    Internal Medicine Specialist
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Dayanand Huded squared.jpg') }}">
			<div class="local_hero_name">
			    Dr. Dayanand V. Huded
			</div>
			<div class="local_hero_description">
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Dr. Venkatesh Sasthakonar Squared.jpg') }}">
			<div class="local_hero_name">
			    Venkatesh Sasthakonar
			</div>
			<div class="local_hero_description">
			    Director of Bariatric Surgery at <br> Nassau University Medical Center
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/Dr VILMA SHALINI VAS MD  Squared.jpg') }}">
			<div class="local_hero_name">
			    Vilma Shalini Vas MD. 
			</div>
			<div class="local_hero_description">
			    Faculty, Dept of Internal Medicine <br> Nassau University Medical Center  
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/vishruth_girish.jpg') }}">
			<div class="local_hero_name">
			    Vishruth Girish
			</div>
			<div class="local_hero_description">
			   Research-Scientist, Cold Spring Harbor Laboratories 
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/woman_placeholder.png') }}">
			<div class="local_hero_name">
			    Dr. Sowmya Reddy
			</div>
			<div class="local_hero_description">
			    Psychiatry and Forensic Psychiatry  Specialist 
			</div>
		    </div>
                </div>
                <div id='local_heroes_subsection_title'>
                    Kannada Koota Non-Frontline Heroes
                </div>
                <div id='local_heroes_subsection_description'>
                    These members of the community put their time under the shutdown to productive use by delivering food to hospitals and care facilities, ensuring COVID affected patients are cared for, be it delivering grocery, food, assistance in visiting the doctor etc
                </div>

 		<div class="non_frontline_heroes">
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/sheela_gopal.jpg') }}">
			<div class="local_hero_name">
			    Sheela Gopal
			</div>
			<div class="local_hero_description">
			</div>
		    </div>
		    <div class="local_hero">
			<img src="{{ url_for('static', filename='images/local_heroes/shankar.jpg') }}">
			<div class="local_hero_name">
			    Srinivas Jayashankar
			</div>
			<div class="local_hero_description">
			</div>
		    </div>
                </div>
                <div id='local_heroes_subsection_title'>
                    Kannada Koota Volunteer Heroes 
                </div>
                <div id='local_heroes_subsection_description'>
                    A big shout out to all the volunteers who made this a successful event. Starting from Designing the Yard signs (Ajit & Keshav) to pooling nominations for the event, reaching out to each nominee to confirm availabletity (Shilpa & Kavya). Planning routes, estimating & scheduling volunteers, Lettering names of Heroes (Shiasha) on the signs. 
                </div>
		<table class="table" id="table_of_volunteer_heroes">
		    <tr>
			<th> Queens - Nassau </th>
			<th> Nassau </th>
			<th> Nassau - Suffolk </th>
			<th> Brooklyn / Westchester </th>
		    </tr>
		{% for group_one_volunteer, group_two_volunteer, group_three_volunteer, group_four_volunteer in volunteers %}
		    <tr>
			<td> {{group_one_volunteer}} </td>
			<td> {{group_two_volunteer}} </td>
			<td> {{group_three_volunteer}} </td>
			<td> {{group_four_volunteer}} </td>
		    </tr>
		{% endfor %}
		</table>

            <div id="push"> </div>
        </div>
        <footer id="footer">
            {% include "footer.html" %}
        </footer>
    </div>
</body>
</html>
