<!DOCTYPE HTML>
<html>
<head>
    {% include "members_dependencies.html" %}

</head>
<body>
    <div id="wrapper">
        {% include "navbar.html" %}
        <div id="content">
            <div class="committee_title">
                Local Heroes
            </div>
		<div class="container" id="local_hero_images" style="text-align: center">
		    <div class="local_hero">
                        <img src="{{ url_for('static', filename='images/local_heroes/Aditi Jayadeva Square.jpg' ) }}">
			<div class="local_hero_name">
			    Dr. Aditi Jayadeva
			</div>
			<div class="local_hero_description">
			    Dr. Aditi Jayadeva is a Pediatrics Emergency Medicine Physician
			</div>
		    </div>
		    <div class="local_hero">

                        <img src="{{ url_for('static', filename='images/local_heroes/Anil Patil  Square.jpg' ) }}">
			<div class="local_hero_name">
			    Dr. Anil Patil
			</div>
			<div class="local_hero_description">
			    Dr. Aditi Jayadeva is a Pain Management Anesthesiologist
			</div>
		    </div>
		    <div class="local_hero">
                        <img src="{{ url_for('static', filename='images/local_heroes/Anthony D_Souza  Square.jpg' ) }}">
			<div class="local_hero_name">
			    Dr. Anthony D_Souza
			</div>
			<div class="local_hero_description">
			    Dr. Anthony D_Souza is a Neonatologist
			</div>
		    </div>
		    <div class="local_hero">
                        <img src="{{ url_for('static', filename='images/local_heroes/Dakshayini Guttal  Square.jpg' ) }}">
			<div class="local_hero_name">
			    Dr. Dakshayini Guttal
			</div>
			<div class="local_hero_description">
			    Dr. Dakshayini Guttal is an Emergency medicine & Pediatrics Specialist
			</div>
		    </div>
		    <div class="local_hero">
                        <img src="{{ url_for('static', filename='images/local_heroes/Ashwin Basavaraj  Square.jpg' ) }}">
			<div class="local_hero_name">
			    Dr. Ashwin Basavaraj
			</div>
			<div class="local_hero_description">
 			   Dr. Ashwin Basavaraj is a Critical Care Medicine Specialist
			</div>
		    </div>
	            <div class="local_hero">
                        <img src="{{ url_for('static', filename='images/local_heroes/Ashwin Basavaraj  Square.jpg' ) }}">
			<div class="local_hero_name">
			    Sudha Rao
			</div>
			<div class="local_hero_description">
 			   Sudha Rao is a Physicians Assistant who specializes in Hematology
			</div>
		    </div>
		    <div class="local_hero">
                        <img src="{{ url_for('static', filename='images/local_heroes/Dr. Sunil Chikmaglur Squared.jpg' ) }}">
			<div class="local_hero_name">
			    Dr. Sunil Chikmagalur
			</div>
			<div class="local_hero_description">
 			   Sunil Chikmagalur is currently a Pediatric Resident
			</div>
		    </div>
 		    <div class="local_hero">
                        <img src="{{ url_for('static', filename='images/local_heroes/Dinesh Giliyar Squared.jpg' ) }}">
			<div class="local_hero_name">
			    Dr. Dinesh Giliyar
			</div>
			<div class="local_hero_description">
 			   Sunil Chikmagalur is a Pediatrician
			</div>
		    </div>
  		    <div class="local_hero">
                        <img src="{{ url_for('static', filename='images/local_heroes/Dinesh Giliyar Squared.jpg' ) }}">
			<div class="local_hero_name">
			    Dr. Dinesh Giliyar
			</div>
			<div class="local_hero_description">
 			   Sunil Chikmagalur is a Pediatrician
			</div>
		    </div>
	 	    <div class="local_hero">
                        <img src="{{ url_for('static', filename='images/local_heroes/Dinesh Giliyar Squared.jpg' ) }}">
			<div class="local_hero_name">
			    Dr. Dinesh Giliyar
			</div>
			<div class="local_hero_description">
 			   Sunil Chikmagalur is a Pediatrician
			</div>
		    </div>
 		    <div class="local_hero">
                        <img src="{{ url_for('static', filename='images/local_heroes/Dr Magery Satish.jpg' ) }}">
			<div class="local_hero_name">
			    Dr. Magery Satish
			</div>
			<div class="local_hero_description">
 			   Dr. Magery Satish is a Board Certified Psychiatrist
			</div>
		    </div>
 		    <div class="local_hero">
                        <img src="{{ url_for('static', filename='images/local_heroes/Dr Magery Satish.jpg' ) }}">
			<div class="local_hero_name">
				Dr. Magery Satish
			</div>
		    </div>
                    <img src="{{ url_for('static', filename='images/local_heroes/Hebbalmath M Thippeswamy  Square.jpg' ) }}">
		    <img src="{{ url_for('static', filename='images/local_heroes/Jyothi Chakote  Square.jpg' ) }}">
                    <img src="{{ url_for('static', filename='images/local_heroes/Kanchan Katapadi  Square.jpg' ) }}">
                    <img src="{{ url_for('static', filename='images/local_heroes/Murali Rajan  Square.jpg') }}">
                    <img src="{{ url_for('static', filename='images/local_heroes/Narasi Motagan  Square.jpg') }}">
                    <img src="{{ url_for('static', filename='images/local_heroes/Nikita Rao square.jpg') }}">
		    <img src="{{ url_for('static', filename='images/local_heroes/Pooja Banad Squared2.jpg') }}">
		    <img src="{{ url_for('static', filename='images/local_heroes/Premanath Banad  Square.jpg') }}">
		    <img src="{{ url_for('static', filename='images/local_heroes/Purna Prasad Squared.jpg') }}">
		    <img src="{{ url_for('static', filename='images/local_heroes/Radika Chikmaglur  Square.jpg') }}">
		    <img src="{{ url_for('static', filename='images/local_heroes/Ravi Chikmaglur  Square.jpg') }}">
		    <img src="{{ url_for('static', filename='images/local_heroes/Sangeetha Deshpande  Square.jpg') }}">
		    <img src="{{ url_for('static', filename='images/local_heroes/Sheela Banad  Square.jpg') }}">
		    <img src="{{ url_for('static', filename='images/local_heroes/Sudha Rao_2.jpg') }}">
		    <img src="{{ url_for('static', filename='images/local_heroes/Sunil Chikmaglur  Square.jpg') }}">
		    <img src="{{ url_for('static', filename='images/local_heroes/Swaroopa Chinnappala  Square.jpg') }}">
		    <img src="{{ url_for('static', filename='images/local_heroes/U.S.Shivakeerthy  Square.jpg') }}">
		    <img src="{{ url_for('static', filename='images/local_heroes/Vishwanath Puttaswamygowda  Square.jpg') }}">
                </div>
            <div id="push"> </div>
        </div>
        <footer id="footer">
            {% include "footer.html" %}
        </footer>
    </div>
</body>
</html>
