<!DOCTYPE HTML>
<html>
<head>
    {% include "members_dependencies.html" %}

</head>
<body>
    <div id="wrapper">
        {% include "navbar.html" %}
        <div id="content">
            <div class="committee_title">
                Executive Committee
            </div>
            <div class="committee">
                {% for committee_member in executive_committee %}
                     <div class="committee_member">
                        <div class="committee_position"> {{ committee_member['Title'] }}</div>
                        <img src="{{ url_for('static', filename='images/executive_committee/' +committee_member['image_location'] ) }}"></img>
                        <div class="committee_name"> {{ committee_member['Name'] }}</div>
                        <div class="committee_email"> {{ committee_member['EmailAddress'] }}</div>
                        <div class="committee_phone_number"> {{ committee_member['PhoneNumber'] }} </div>
                     </div>
                {% endfor %}
            </div>
            <div class="committee_title">
                Cultural Committee
            </div>
            <div class="committee">
                 {% for committee_member in cultural_committee %}
                     <div class="committee_member">
                        <div class="committee_position"> {{ committee_member['Title'] }}</div>
                        <img src={{ url_for('static', filename='images/cultural_committee/' +committee_member['image_location'] ) }}></img>
                        <div class="committee_name"> {{ committee_member['Name'] }}</div>
                        <div class="committee_email"> {{ committee_member['EmailAddress'] }}</div>
                        <div class="committee_phone_number"> {{ committee_member['PhoneNumber'] }} </div>
                     </div>
                {% endfor %}           
            </div>
            <div class="committee_title">
                Fundraising Committee
            </div>
            <div class="committee">
                {% for committee_member in fundraising_committee %}
                     <div class="committee_member">
                        <div class="committee_position"> {{ committee_member['Title'] }}</div>
                        <img src={{ url_for('static', filename='images/fundraising_committee/' +committee_member['image_location'] ) }}></img>
                        <div class="committee_name"> {{ committee_member['Name'] }}</div>
                        <div class="committee_email"> {{ committee_member['EmailAddress'] }}</div>
                        <div class="committee_phone_number"> {{ committee_member['PhoneNumber'] }} </div>
                     </div>
                {% endfor %}
            </div>
            <div class="committee_title">
                Sound/Music System Committee
            </div>
            <div class="committee">
                {% for committee_member in sound_music_committee %}
                     <div class="committee_member">
                        <div class="committee_position"> {{ committee_member['Title'] }}</div>
 			<img src={{ url_for('static', filename='images/sound_music_system/' +committee_member['image_location'] ) }}></img>
                        <div class="committee_name"> {{ committee_member['Name'] }}</div>
                        <div class="committee_email"> {{ committee_member['EmailAddress'] }}</div>
                        <div class="committee_phone_number"> {{ committee_member['PhoneNumber'] }} </div>
                     </div>
                {% endfor %}
            </div>
            <div class="committee_title">
                Food Committee
            </div>
            <div class="committee">
                {% for committee_member in food_committee %}
                     <div class="committee_member">
                        <div class="committee_position"> {{ committee_member['Title'] }}</div>
			<img src={{ url_for('static', filename='images/food_committee/' +committee_member['image_location'] ) }}></img>
                        <div class="committee_name"> {{ committee_member['Name'] }}</div>
                        <div class="committee_email"> {{ committee_member['EmailAddress'] }}</div>
                        <div class="committee_phone_number"> {{ committee_member['PhoneNumber'] }} </div>
                     </div>
                {% endfor %}
            </div>
            <div class="committee_title">
                Decorations Committee
            </div>
            <div class="committee">
                {% for committee_member in decorations_committee %}
                     <div class="committee_member">
                        <div class="committee_position"> {{ committee_member['Title'] }}</div>
			<img src={{ url_for('static', filename='images/decorations_committee/' +committee_member['image_location'] ) }}></img>
                        <div class="committee_name"> {{ committee_member['Name'] }}</div>
                        <div class="committee_email"> {{ committee_member['EmailAddress'] }}</div>
                        <div class="committee_phone_number"> {{ committee_member['PhoneNumber'] }} </div>
                     </div>
                {% endfor %} 
            </div>
            <div class="committee_title">
                Sports Committee
            </div>
            <div class="committee">
                {% for committee_member in sports_committee %}
                     <div class="committee_member">
                        <div class="committee_position"> {{ committee_member['Title'] }}</div>
                        <img src={{ url_for('static', filename='images/sports_committee/' +committee_member['image_location'] ) }}></img>
                        <div class="committee_name"> {{ committee_member['Name'] }}</div>
                        <div class="committee_email"> {{ committee_member['EmailAddress'] }}</div>
                        <div class="committee_phone_number"> {{ committee_member['PhoneNumber'] }} </div>
                     </div>
                {% endfor %} 
           </div>
            <div class="committee_title">
                Youth Committee
            </div>
            <div class="committee">
                {% for committee_member in youth_committee %}
                     <div class="committee_member">
                        <div class="committee_position"> {{ committee_member['Title'] }}</div>
                        <img src={{ url_for('static', filename='images/youth_committee/' +committee_member['image_location'] ) }}></img>
                        <div class="committee_name"> {{ committee_member['Name'] }}</div>
                        <div class="committee_email"> {{ committee_member['EmailAddress'] }}</div>
                        <div class="committee_phone_number"> {{ committee_member['PhoneNumber'] }} </div>
                     </div>
                {% endfor %} 
           </div>
            <div id="developers_information">
                <div id="developers_title">
                    Developer Of This Website
                </div>
                <img src="{{ url_for('static', filename='images/developer.jpg' ) }}">
                <div id="developers_contact_information">
                    Varun Rao
                    <br>
                    (347)421-9481
                    <br>
                    Varunrao0919@gmail.com
                </div>
            </div>
            <div id="push"> </div>
        </div>
        <footer id="footer">
            {% include "footer.html" %}
        </footer>
    </div>
</body>
</html>
