<nav>
    <div id="control_panel">
        <span class="nav_element">
            <a class="en_translation" href="/"> Home Page </a>
            <a class="kn_translation" href="/" lang="kn"> ಮುಖಪುಟ </a>
        </span>
        <span class="nav_element">
            <a class="en_translation" href="/about">About Us</a>
            <a class="kn_translation" href="/about" lang="kn"> ನಮ್ಮ ಬಗ್ಗೆ </a>
        </span>
        <span class="nav_element" id="logo" style="padding-top:10px; font-family: 'Anton', sans-serif; font-size: 30px">
            KKNY
        </span>
        <span class="nav_element">
            <a class="en_translation" href="/members">KKNY Members and Committee</a>
            <a class="kn_translation" href="/members" lang="kn">     ಸದಸ್ಯರು   </a>
        </span>
	<span class="nav_element">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post">

		    <!-- Identify your business so that you can collect the payments. -->
		    <input type="hidden" name="business"
			value="donations@kkny.org">

		    <!-- Specify a Donate button. -->
		    <input type="hidden" name="cmd" value="_donations">

		    <!-- Specify details about the contribution -->
		    <input type="hidden" name="item_name" value="KKNY">
		    <input type="hidden" name="item_number" value="Donate to our cultural organization">
		    <input type="hidden" name="currency_code" value="USD">

		    <!-- Display the payment button. -->
		    <input type="image" name="submit"
		    src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"
		    alt="Donate">
		    <img alt="" width="1" height="1"
		    src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >

		</form>
<!--
	    <form class="footer_donate" action="https://www.paypal.com/cgi-bin/webscr" method="post">
	        <input type="hidden" name="cmd" value="_s-xclick">
	        <input type="hidden" name="hosted_button_id" value="UQPSL94UGLT5U">
	        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	    </form>
-->
	</span>
	<span class="nav_element">
	    <a class="en_translation" href="/presidentsMessage">President's Message</a>
            <a class="kn_translation" href="/presidentsMessage"> ಅಧ್ಯಕ್ಷರ ಸಂದೇಶ</a>
	</span>
    </div>
</nav>

