<nav>
    <div id="control_panel">
        <span class="nav_element">
            <a class="en_translation" href="/"> Home Page </a>
            <a class="kn_translation" href="/" lang="kn"> ಮುಖಪುಟ </a>
        </span>
        <span class="nav_element">
            <a class="en_translation" href="/about">About Us</a>
            <a class="kn_translation" href="/about" lang="kn"> ನಮ್ಮ ಬಗ್ಗೆ </a>
        </span>
        <span class="nav_element">
            <a class="en_translation" href="/contact_us"> Contact Us </a>
            <a class="kn_translation"  href="/contact_us">  ನಮ್ಮನ್ನು ಸಂಪರ್ಕಿಸಿ
          </a>
        </span>
        <span id="kkny_title" class="nav_element" id="logo" style="font-size:22px; color: white; font-family:'Pathway Gothic One', sans-serif; right: 10px; position: relative; bottom:18px; width:300px;">
            <a class="en_translation" href="/">
                Kannada Koota New York
            </a>
            <a class="kn_translation" href="/"> KKNY </a>
        </span>
        <span class="nav_element">
            <a class="en_translation" href="/members">KKNY Executive Committee</a>
            <a class="kn_translation" href="/members" lang="kn">     ಸದಸ್ಯರು   </a>
        </span>
	<span class="nav_element">
	    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_donations">
		<input type="hidden" name="hosted_button_id" value="8T7X6PRBR9K76">
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	    </form>
	</span>
        <span class="nav_element">
            <a class="en_translation" href="/photo_gallery"> Photo Gallery </a>
            <a class="kn_translation" href="/photo_gallery">   ಫೋಟೋ      </a>
        </span>
	<span class="nav_element">
	    <a class="en_translation" href="/presidentsMessage">President's Message</a>
            <a class="kn_translation" href="/presidentsMessage"> ಅಧ್ಯಕ್ಷರ ಸಂದೇಶ</a>
	</span>
    </div>
</nav>

