<!DOCTYPE HTML>
<html>
    <head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
	<script src="{{ url_for('static',filename='js/navbar.js') }}"></script>
        <link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One" rel="stylesheet">
    </head>
    <body>
        <div id="content">
            {% include "navbar.html" %}
                <div id="photo_gallery_events_title">
		    Photo Gallery Events
                </div>
                <img id="shiva" src="{{ url_for('static',filename='images/shiva.jpg') }}">
                <img id="karnataka_flag" src="{{ url_for('static',filename='images/karnataka_flag.jpg') }}">
                <div id="photo_gallery_events">
                    {% for previous_event in previous_events %}
		      <div class="photo_gallery_event">
			<a href="{{ previous_event.flickr_url }}" target="_blank"> {{previous_event.event_name}} </a>
		      </div>
		    {% endfor %}
                </div>
           <div id="push"></div>
        </div>
        <footer id="footer">
            {% include "footer.html" %}
        </footer>
     </body>
</html>        
