<!DOCTYPE HTML>
<html>
    <head>
        {% include "presidents_message_dependencies.html" %}
    </head>
    <body>
        <div id="wrapper">
            {% include "navbar.html" %}
            <div id="content">
                    <div id="presidents_message">
                      <img src="{{ url_for('static', filename='images/presidents_message.jpg') }}"></img>
                      <div id="presidents_message_title">
                          <h2> - Our Mission - </h2>
                          <h3> To have a connecting link with every Kannadiga that resides or lives as well as visits from Karnataka 
			  to be a part of Kannada Koota New York, perhaps one of the oldest organizations in the United States </h3>
                      </div>
		    </div>
		    <div id="presidents_quote">

			<p>Dear Kannada Koota Members, Founders, Sponsors, and Friends, </p>

			<br>

			<p> It is my distinct pleasure to serve as President of Kannada Koota NY for the 2018-2020 term. Leading this outstanding group of members is an honor and a privilege, and I am so excited for what is in store for this upcoming term. </p>

			<br>

			<p> Over the past many years, Kannada Koota NY has accomplished many amazing things and helped develop the cultural aspects of Kannada Language in our community. Going forward We now have a unique opportunity to help shape the future of our children and youth while adopting to our beautiful language, and we will work hard every day to make the most of our resources and partnerships in providing guidance to our youngsters. We will not rest until that foundation of promoting our Kannada culture to our youth members is laid. </p>

			<br>

			<p> Kannada Koota NY is known for many things throughout the community. Our previous committee held food drives, volunteer work among other communities, school supplies for children in our neighborhoods and many more projects. Now it is time for us to take all their hard work to another level and my motto is to enjoy and have that greater inner feeling of proudness of accomplishing our goals. </p>

			<br>

			<p> Without your donations, sponsorships, engagement, and support, we will not be able fulfill our promises. Our current committee is looking forward to serve you and please help us in a big way with your kindness and please invite them to your living rooms by giving your tremendous support. </p>

			<br>

			<p> Many times, we are told we should "smile more". Sometimes, that simple phrase can cause an opposite reaction.  "iSMILE: Serve | Mentor | Inspire | Lead | Engage" was chosen as our theme to bring a more empowering definition to "smile more".  This current group of strong, smart, caring, and dedicated committee is up to the challenge to "SMILE more" while serving our precious Kannada community with utmost respect. </p>

			<br>

			<p> I invite you to join us as this current committee ready to get into action. Please bring in new members by inviting your friends and families to our functions. May God bring you joy and happiness in your lives and also pray for well being of our committee and their families so that we will be able to reach that final goal line with ease. As President I ask and pray for God's blessing and all of your kindness. And as always, we welcome support from our generous community by providing us various opportunities for sponsorship!  I look forward to meeting all of you and hope you too will accept the challenge of iSMILE. </p>

			<br>

		    </div>
		    <div id="presidents_name">
			- Sincerely, Nagesh Rao
		    </div>
		    <div id="presidents_info">
			2018-2020 Kannada Koota NY President
		    </div>     
            </div>
            <footer id="footer">
                {% include "footer.html" %}
            </footer>
	</div>
    </body>
</html>
