<!DOCTYPE HTML>
<html>
    <head>
        {% include "sponsors_dependencies.html" %}
    </head>
    <body>
        <div id="wrapper">
            {% include "navbar.html" %}
            <div id="content">
                <div id="kkny_sponsors_title">
                    KKNY Sponsors
                </div>
                <div id="kkny_sponsors_description">
                    Kannada Koota is proudly sponsored through the help of the companies below. When clicked each logo links to the sponsor's website. Please support these companies to the fullest extent, as a special thank you for our non-profit services.
                </div>
                <div id="kkny_sponsors">
  		    <img src="http://via.placeholder.com/300"> </img>
                    <img src="http://via.placeholder.com/300.png/09f/fff"> </img>
 		    <img src="http://via.placeholder.com/300"> </img>
                    <img src="http://via.placeholder.com/300.png/09f/fff"> </img>
	            <img src="http://via.placeholder.com/300"> </img>
                    <img src="http://via.placeholder.com/300.png/09f/fff"> </img>
                    </div>
                </div>
            </div>
            <footer id="footer">
                {% include "footer.html" %}
            </footer>
	</div>
    </body>
</html>
